.auth-form-container {

  .login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    label {
      text-align: left;
      padding: 0.25rem 0;
    }
    input {
      margin: 0.5rem 0;
      padding: 1rem;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  
  h1 {
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
  }

  h2 {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
  }

  p {
    color: #685206;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
  }
  button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }

  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  }
}
}
