.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items:center;
  justify-content:center;
  background-image: linear-gradient(79deg,#885192,#f534f5 98%,#3e729c);
}
.auth-form-container, .login-form,.register-form{
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items:center;
  justify-content:center;
  background-image: linear-gradient(79deg,#885192,#f534f5 98%,#3e729c);
}
label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding:1rem;
}

button{
  border: none;
  background-color:white;
  padding:20px;
  border-radius:10px;
}

.link-btn{
  background :none;
  color:white;
  text-decoration:underline;
}